$primary-color: green;
$hover-color: darkgreen;
$text-color: white;
$font-size: 2rem;

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BENVOLGUT {
  width: 100vw;
  height: 100vh;
  @include center-flex;
  background-color: $primary-color;
  color: $text-color;
  font-size: $font-size;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;

  &:hover {
    background-color: $hover-color;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
