<div class="config-wrapper">

  <button class="back-btn" (click)="tornarEnrere()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="config-panel">
    <h1 class="titol">Tipus</h1>

    <div class="config-grid">
      <button
        class="botoOpcio"
        routerLink="/config/crear-tipus">
        <span>Crear tipus</span>
      </button>

      <button
        class="botoOpcio"
        routerLink="/config/modificar-tipus">
        <span>Modificar tipus</span>
      </button>
    </div>
  </div>
</div>
