$green: #075b2f;
$bg-panel: #d0f0d0;
$bg-light: #f6fff6;
$shadow-sm: 0 3px 8px rgba(0, 0, 0, .12);
$green-dark: darken($green, 10%);

:host {
  display: block;
  min-height: 100vh;
  background-color: $bg-panel;
}

.config-wrapper {
  min-height: 105vh;
  display: flex;
  position: relative;
}

.back-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;

  border: none;
  background-color: #fff;
  color: $green-dark;
  border-radius: 999px;
  width: 100px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $shadow-sm;
  cursor: pointer;
  padding: 0;

  transition:
    background .12s ease,
    transform .12s ease,
    box-shadow .12s ease;

  mat-icon {
    font-size: 22px;
  }

  &:hover {
    background-color: lighten($bg-panel, 10%);
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, .18);
  }

  &:active {
    transform: translateY(0);
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, .2);
  }
}

.config-panel {
  background-color: $bg-light;
  border-radius: 18px;
  padding: 2rem 2rem;
  box-shadow: $shadow-sm;

  width: 90%;
  max-width: 1100px;
  min-height: 70vh;

  margin: auto;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.titol {
  margin: 0 0 2rem 0;
  font-size: 1.8rem;
  font-weight: 700;
  color: $green-dark;
}

.config-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: stretch;
  align-items: stretch;
}

.botoOpcio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  width: 100%;
  height: 100%;
  min-height: 250px;

  background-color: #fff;
  color: $green-dark;
  font-weight: 800;
  font-size: 25px;

  border: 2px solid $green;
  border-radius: 14px;
  box-shadow: $shadow-sm;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  transition:
    transform .12s ease,
    box-shadow .12s ease,
    background-color .12s ease,
    border-color .12s ease;

  span {
    pointer-events: none;
  }

  &:hover:not(:disabled) {
    background-color: lighten($bg-panel, 10%);
    border-color: $green-dark;
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, .18);
  }

  &:active:not(:disabled) {
    transform: translateY(0);
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, .2);
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
    transform: none;
    box-shadow: $shadow-sm;
  }
}



@media (max-width: 700px) {
  .config-panel {
    padding: 1.8rem 1.2rem;
    min-height: auto;
  }

  .titol {
    font-size: 1.5rem;
  }

  .config-grid {
    grid-template-columns: 1fr;
  }

  .botoOpcio {
    min-height: 180px;
  }

  .back-btn {
    top: 1rem;
    right: 1rem;
  }
}
