<div class="config-wrapper">

  <button class="back-btn" (click)="tornarEnrere()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="config-panel">
    <h1 class="titol">Productes</h1>

    <div class="config-grid">
      <button
        class="botoOpcio"
        routerLink="/config/crear-producte">
        <span>Crear producte</span>
      </button>

      <button
        class="botoOpcio"
        routerLink="/config/seleccionar-producte">
        <span>Modificar producte</span>
      </button>
    </div>
  </div>
</div>
