<div class="pla-general">
  <div
    class="taules"
    *ngFor="let taula of taules"
    (click)="onClickTaula(taula)"
    [class.taula-simple]="!taula.subTaules?.length"
    [class.taula-separada]="taula.subTaules?.length"
    [class.taula-selected]="isTaulaSelected(taula)"
    [class.ocupada]="taula.ocupat">

    <div class="taula-wrapper">

      <!-- MODE NORMAL si NO té subtaules -->
      <ng-container *ngIf="!taula.subTaules?.length; else taulaSeparada">
        <img class="taula-img" [src]="getTaulaImg(taula)" />
        <span class="taula-id">{{ taula.numTaula }}</span>
      </ng-container>

      <!-- MODE SEPARADA si té subtaules -->
      <ng-template #taulaSeparada>
        <div class="subtaules">
          <div
            class="subtaula"
            *ngFor="let st of taula.subTaules; let i = index"
            (click)="onClickSubTaula(taula, st, i); $event.stopPropagation()"
            [class.subtaula-selected]="isSubTaulaSelected(st)">

            <img class="subtaula-img" [src]="getTaulaImg(st)" />
            <span class="subtaula-id">{{ taula.numTaula }}.{{ i + 1 }}</span>
          </div>
        </div>
      </ng-template>

    </div>
  </div>
</div>

<div class="accions-taula">
  <h3 *ngIf="selectedTaula" class="titol">
    Taula: {{ selectedTaulaLabel }}
  </h3>

  <div class="botons" *ngIf="mostrarbotons">
    <button class="botoOpcio" (click)="separaTaules()" [disabled]="!selectedTaula">
      <span>{{ selectedTaula?.taulaPare != null ? 'Juntar taules' : 'Separa taules' }}</span>
    </button>

    <button class="botoOpcio" (click)="buscarHistoric()" [disabled]="!selectedTaula">
      <span>Històric comandes</span>
    </button>

    <button class="botoOpcio" (click)="afegirDesocuparTaula()" [disabled]="!selectedTaula">
      <span>{{ selectedTaula?.ocupat ? 'Desocupar taula' : 'Afegir comanda taula' }}</span>
    </button>
  </div>
</div>
