:host {
  display: block;
  width: 500px;
  height: auto;
  margin-bottom: 20px;
  border: 2px solid black;
  padding: 15px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.visor {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  text-align: right;
  padding: 10px;
  border: 2px solid black;
  background-color: #fff;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.visor-esquerra {
  text-align: left;
  flex: 1;
}

.visor-dreta {
  text-align: right;
  flex: 1;
}


.main {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.number-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  flex: 1;
}

.number-pad button {
  aspect-ratio: 1;
  width: 90%;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  background-color: #ffffff;

  &:hover{
    opacity: 0.7;
  }
}


.side-buttons {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin-left: 15px;
  flex: 0 0 120px;
  gap: 10px;
}

.side-buttons button {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 6px;
  background-color: #e0e0e0;

  &:hover{
    opacity: 0.7;
  }
}

.side-buttons .botoSumar{
  background-color: lightyellow;
}
.side-buttons .botoRestar{

  background-color: lightcoral;
}
