<div class="modal-header" >
  <span class="titol">🧾 {{ titol }}</span>

  <div class="modal-controls">
    <button class="btn-control" (click)="toggleMaximitzar()">🗖</button>
    <button class="btn-control-exit" (click)="tancar.emit()">✖</button>

    <button (click)="toggleComanda()">
      {{ comandaOpen ? '← Amaga' : '→ Mostra' }}
    </button>


  </div>
</div>



<div class="modal-cos" [class.comanda-open]="comandaOpen">
  <div class="questionari-comanda">
    <label for="nom">Nom de la comanda:</label>
    <input
      id="nom"
      type="text"
      [(ngModel)]="nomComanda"
      class="input-nom"

    />

      <app-productes-selector
        titol="Productes"
        (afegirComanda)="afegeixProducte($event)"
        (eliminarComanda)="eliminarProducte($event)"
        (augmentarDisminuirComanda)="modificarPreu($event)"
        [comandaInput]="productesComanda">
      </app-productes-selector>

    <button class="acabar-comadna" *ngIf="modificarComanda" (click)="enviarComanda()" >ACTUALITZAR COMANDA </button>
    <button class="acabar-comadna" *ngIf="!modificarComanda" (click)="enviarComanda()" >ACABAR COMANDA </button>

  </div>


  <div class="comanda">
    <h1>Comanda </h1>
    <div class="comanda-elements" *ngFor="let p of productesComanda"  >
      <span class="comanda-text">
        {{ p.nomProducte }} – {{ p.quantitat }} - {{ p.preuMoment | number: '1.2-2'}}
      </span>
      <button
        type="button"
        class="btn-eliminar"
        [attr.aria-label]="'Eliminar ' + p.nomProducte"
        (click)="eliminarProducte(p)"
      >
        ✖
      </button>
    </div>
    <input
      *ngIf="preuComadna > 0"
      id="PreuComanda"
      type="text"
      [value]="preuComadna | number:'1.2-2'"
      class="quantitat-text"
      readonly
    />

  </div>

</div>
